*~
*$py.class
build/
develop-eggs/
dist/
downloads/
.DS_Store
*.egg
*.egg-info/
.eggs/
eggs/
.env
env/
ENV/
.idea/
.installed.cfg
lib64/
.next/
node_modules/
parts/
*.pth
__pycache__/
*.py[cod]
.Python
sdist/
*.so
*.swo
*.swp
temp/
uploads/
var/
.venv
venv/
.vscode/
weights/
wheels/
